<div class="pt-3 pe-3" data-mdb-perfect-scrollbar-init style="position: relative; height: 400px">

    <div class="d-flex flex-row justify-content-start">
       @*  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
             alt="avatar 1" style="width: 45px; height: 100%;"> *@
        <div id="chatbox">
            
            
        </div>
    </div>

</div>