<div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2 px-3">
    @* <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
         alt="avatar 3" style="width: 40px; height: 100%;"> *@
    <input id="message" type="text" class="form-control form-control-lg" id="exampleFormControlInput2"
           placeholder="Type message">
    <a id="sendButton" class="ms-3 px-3" href="#!"><i class="fas fa-paper-plane"></i></a>
</div>