@{
    ViewData["Title"] = "Index";
    Layout = null;
    var userName = Context.User.Identity.Name;
}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.min.css">
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <style>
        .full-screen-card {
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
    <nav class="navbar navbar-expand-lg bg-success">
    <div class="container-md">
    <a class="navbar-brand" asp-action="Logout" asp-controller="Account">LogOut</a>
    </div>

    </nav>
    }

	<div classc="content">
		<div class="container p-2 vh-100 position-relative">

			<h1 class="h3 mb-3">Messages</h1>

			<div class="row g-0 position-absolute top-0 bottom-0 w-100 p-5">
                @* <partial name="_AsideChat" /> *@
				<div class="col-lg-7 col-xl-9 position-relative">

                    <partial name="_ChatBodyHead" />

                    <partial name="_ChatBody" />

                    <partial name="_SenderChat" />
					
				</div>
			</div>

		</div>
	</div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script>

        var hubConnection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
        // var userName = prompt("Please enter your Name");
        var user = "@userName"
        hubConnection.start().then(function () {
            $("#sendButton").click(function () {
                
                var message = $("#message").val();
                hubConnection.invoke("SendMessage", user, message).catch(function (err) {
                    return console.error(err.toString());
                });
                $("#message").val("").focus();
            });
        }).catch(function (err) {
            console.error(err.toString());
        });

        hubConnection.on("ReceiveMessage", function (user, message) {
            var encodedUser = user;
            var encodedMsg = message;
            $("#chatbox").append("<p><strong>" + encodedUser + "</strong>: " + encodedMsg + "</p>");
        });




    </script>
</body>
</html>



