@model ImoApp.ViewModel.UserRegister


@{

    ViewData["Title"] = "Registration";
    Layout = null;


}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.min.css">
    
   
</head>
<body>



    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-md">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">IMo App</a>
        </div>

    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4 m-auto">
                <h1>Register</h1>
                <form asp-action="Registration">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PsswordConfirmed" class="control-label"></label>
                        <input asp-for="PsswordConfirmed" class="form-control" />
                        <span asp-validation-for="PsswordConfirmed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumberConfirmed" class="control-label"></label>
                        <input asp-for="PhoneNumberConfirmed" class="form-control" />
                        <span asp-validation-for="PhoneNumberConfirmed" class="text-danger"></span>
                    </div>
                    <div class="form-group d-grid my-4">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
